* {
    margin: 0px;
    padding: 0px;
    user-select: none;
    font-family: 'montserrat', sans-serif;
    /* width: 100%; */
}


html {
    font-size: 100%;
    background-color: #ffffff;
    scroll-behavior: smooth;
}


#header {
    background-color: #ffffff;
    display: flex;
    width: 100%;
    /* justify-content: center; */
    /* height: 50px; */
    flex-direction: column;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    padding: 10px 0;
    position: sticky;
    top: 0%;
    z-index: 2;
    box-shadow: 1px 1px 15px rgb(219, 219, 219);
    /* border: 1px solid red; */
}

.header__head {
    /* width: 80%; */
    display: flex;
    justify-content: space-around;
    /* padding: 0 10%; */
    /* width: 100%; */
    align-items: center;
    /* border: 1px solid black; */
}

.header__socials {
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: row; */
    transform: scale(.5);
    transition: .5s;
}

.header__socials:hover {
    transform: scale(.6);
}


.header__link {
    display: flex;
    width: 10%;
    justify-content: space-around;
    align-items: center;
    /* margin: 0 150px; */
    /* padding-left: 18%; */
    /* border: 1px solid black; */

}

.header__head--name {
    font-family: 'montserrat', sans-serif;
    transition: 0.5s;
    /* flex: 2; */
    /* font-size: 100px; */
}

.header__links {
    text-decoration: none;
    color: rgb(112, 112, 112);
    font-size: 180%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.header__links:hover {
    color: #012443;
}

.header__head--contact {
    border: 1px solid #012443;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;

}

.header__head--contact:hover {
    background-color: #012443;
    color: white;
}

.header__head--work,
.header__head--resume {
    font-size: 100%;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
}

.hero__creative {
    background-color: yellow;
    color: black;
    transition: .3s;
    font-style: italic;
    padding-right: 10px;
}

.hero__creative:hover {
    background-color: inherit;
    color: #012443;
    /* font-style: italic; */
    font-family: 'montserrat', sans-serif;
    font-weight: 100;
    font-style: unset;
    /* padding-right: 10%; */
}

.hero__block {
    display: flex;
    width: 90%;
    /* height: 100%; */
    background-image: linear-gradient(180deg, hsla(208, 97%, 13%, 0.2) 0%, hsla(210, 44%, 94%, 1) 100%);
    justify-content: space-evenly;
    border-radius: 15px;
    padding: 1% 0;
    height: 550px;
    /* flex-flow: wrap; */
    /* flex-wrap: wrap; */
}

.hero__img {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    justify-content: center;
    width: 80%;

}

.hero__block--img {
    width: 80%;
    padding: 25px;
    border-radius: 50%;
    transition: 0.5s;
}


.hero__about {
    /* border: 1px solid black; */
    padding: 10px;
    width: 110%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.hero__block--name {
    font-size: 500%;
    color: #012443;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.hero__pname {
    background-color: inherit;
    color: #012443;
    font-style: italic;
    padding: 0px 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.hero__gotit {
    background-color: inherit;
    color: #012443;
    font-style: italic;
    padding: 0px 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.hero__block--aboutme {
    color: #012443;
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
}

.filler1 {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    margin: 50px 0;
    height: 150px;
    padding: 25px;
    align-items: flex-end;
    /* border: 1px solid red; */
}

.filler1__line {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 120%;
    opacity: 50%;
}

#imgal {
    background-image: linear-gradient(180deg, hsla(208, 97%, 13%, 0.2) 24%, hsla(0, 0%, 100%, 1) 100%);
    display: flex;
    flex-direction: column;
    /* border-radius: 15px; */
    padding: 0 5%;
}

.imgal__head {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.imgal__head--title {
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
    opacity: 80%;
}

.imgal__gallery {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    justify-content: center;
    padding: 5% 5%;
}

.imgal__img {
    flex: 1;
    object-fit: cover;
    margin: 1.2%;
    /* padding: 0; */
    width: 30%;
    /* opacity: 25%; */
    /* transform: scale(.5); */
    height: auto;
    transition: .3s
        /* scroll-behavior: smooth; */
        /* position: sticky; */
        /* border: 1px solid red; */
}

.imgal__img:hover {
    /* flex-grow: 10; */
    /* box-sizing: content-box; */
    /* transition: .3s; */
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgb(139, 139, 139);
    /* object-fit: contain; */
    /* z-index: 3; */
    /* width: 50%; */
    /* opacity: 100%; */
}



.imgal__morework {
    display: flex;
    justify-content: center;
    padding: 1% 0;
}

.imgal__morework--button {
    border: 2px solid #012443;
    padding: 2%;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: #012443;
    transition: 0.3s;
}

.imgal__morework--button:hover {
    background-color: #012443;
    color: white;
}

.filler2 {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    margin: 50px 0;
    height: 80px;
    padding: 25px;
    align-items: flex-end;
    /* border: 1px solid red; */
}

.filler2__line {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 120%;
    opacity: 50%;
}

#design {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* width: 100%; */
    /* border: 1px solid red; */
}

.design__skills {
    /* display: grid; */
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    text-align: center;
    justify-content: space-evenly;
    /* grid-gap: 1rem; */
    /* width: 100%; */
}

.design__can {
    font-family: 'montserrat', sans-serif;
    color: #012443;
    font-size: 500%;
    font-weight: 900;
    width: 100%;
    text-align: center;

}

.design__skill {
    font-size: 200%;
    /* padding: 3%; */
    margin: 4%;
    /* padding: 4%; */
    font-family: 'montserrat', sans-serif;
    font-weight: 100;
    transition: 0.3s;
    user-select: none;
    font-style: italic;
    color: #012443;
}

.design__skill:hover {
    transform: scale(1.5);
    font-weight: 500;
    z-index: 2;
    font-style: inherit;
}

.design__lotmore {
    padding-bottom: 5%;
}


.design__lotmore--text {
    font-family: 'montserrat', sans-serif;
    font-weight: 900;
    font-size: 150%;
    color: #012443;
}

#exp {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* justify-content: space-evenly; */
}

.exp__head--text {
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-size: 400%;
    padding-bottom: 5%;
    font-weight: 700;
    color: #012443;
}

.exp__line {
    width: 100%;
    height: 1px;
    background-color: #686868;
    position: relative;
}

.exp__dot {
    padding: 2px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #012443;
    /* z-index: 2; */
    /* border: 1px solid green; */

}

.exp__work {
    /* border: 1px solid #012443; */
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 4%;
    /* top: -10px; */
    font-family: 'montserrat', sans-serif;
    color: #012443;
    font-weight: 600;
    transition: .3s;
}

.exp__work:hover {
    color: #012443;
    font-weight: 600;
}

.exp__free {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.9%;
    /* right: -10px; */
}

.exp__intern {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.9%;
}

.exp__mentor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.9%;
}

.exp__year,
.exp__work {}

.exp__year {
    font-size: 250%;
}

#contact {
    width: 100%;
    display: flex;
    height: 500px;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact__card {
    background-image: linear-gradient(135deg, hsla(208, 97%, 13%, 0.5) 0%, hsla(207, 93%, 11%, 0.8) 100%);
    ;
    display: flex;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 30%;
    box-shadow: 1px 1px 1px #012443;
    border-radius: 25px;
    transition: .5s;
    /* border: 1px solid black; */
    user-select: all;

}

.contact__card:hover {
    box-shadow: 5px 5px 25px #012443;

}

.contact__card--touch {
    text-align: center;
    font-size: 300%;
    width: 50%;
    color: white;
    /* user-select: all; */
}

.contact__con {
    /* border: 1px solid red; */
    height: 30%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 120%;
    color: white;
    /* padding: 2%; */
    /* user-select: all; */
}

.contact__email,
.contact__number {
    user-select: all;
}

.footer {
    background-image: linear-gradient(360deg, hsla(208, 97%, 13%, 0.2) 0%, hsla(0, 0%, 100%, 1) 100%);

    /* height: 200%; */
    padding: 1%;
    /* height: 25vh; */
}

.footer__container {
    /* padding: 5%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* align-content: ; */
}

.footer__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100%;
}

.footer__name {
    width: 50%;
}

.footer__name--text {
    font-weight: 900;
    color: black;
    font-size: 500%;
}

.footer__links {
    margin: 0px;
    display: flex;
    font-size: 150%;
    justify-content: space-evenly;
    align-items: flex-end;
    /* text-align: right; */
    flex-direction: column;
    width: 50%;
    text-decoration: none;
    color: #012443;
}

.footer__copyright {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}