@media (max-width: 768px) {
    .hero__block {
        flex-wrap: wrap;
    }
}

html {
    font-size: 100%;
    background-color: #ffffff;
}

.body {
    background-color: white;
}

.header {
    background-color: #ffffff;
    display: flex;
    /* justify-content: center; */
    height: 50px;
    flex-direction: column;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    padding-bottom: 25px;
    /* border: 1px solid red; */
}

.header__head {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    /* width: 100%; */
    align-items: center;
    /* border: 1px solid black; */
}

.header__socials {
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: row; */
    transform: scale(.5);
}

.header__link {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    align-items: center;
    /* margin: 0 150px; */
    padding-left: 18%;
    /* border: 1px solid black; */

}

.header__head--name {
    font-family: 'montserrat', sans-serif;
    transition: 0.5s;
    /* font-size: 100px; */
}

.header__links {
    text-decoration: none;
    color: rgb(112, 112, 112);
    font-size: 180%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.header__links:hover {
    color: #012443;
}

.header__head--contact {
    border: 1px solid #012443;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;

}

.header__head--contact:hover {
    background-color: #012443;
    color: white;
}

.header__head--work,
.header__head--resume {
    font-size: 100%;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__creative {
    background-color: yellow;
    color: black;
    transition: .3s;
    font-style: italic;
    padding-right: 10px;
}

.hero__creative:hover {
    background-color: inherit;
    color: #012443;
    /* font-style: italic; */
    font-family: 'montserrat', sans-serif;
    font-weight: 100;
    font-style: unset;
    /* padding-right: 10%; */
}

.hero__block {
    display: flex;
    width: 90%;
    /* height: 100%; */
    background-image: linear-gradient(180deg, hsla(0, 0%, 93%, 1) 43%, hsla(0, 0%, 100%, 1) 100%);
    ;
    justify-content: space-evenly;
    border-radius: 15px;
    padding: 1% 0;
    /* flex-flow: wrap; */
    /* flex-wrap: wrap; */
}

.hero__img {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    justify-content: center;
    width: 80%;

}

.hero__block--img {
    width: 80%;
    padding: 25px;
    border-radius: 50%;
    transition: 0.5s;
}

.hero__block--img:hover {
    border-radius: 10%;
    /* border: 1px solid #012443; */
    /* background-color: #012443; */
    ;
}

.hero__about {
    /* border: 1px solid black; */
    padding: 10px;
    width: 110%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.hero__block--name {
    font-size: 500%;
    color: #012443;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.hero__pname {
    background-color: inherit;
    color: #012443;
    font-style: italic;
    padding: 0px 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.hero__gotit {
    background-color: inherit;
    color: #012443;
    font-style: italic;
    padding: 0px 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.hero__block--aboutme {
    color: #012443;
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
}

.filler1 {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    margin: 50px 0;
    height: 150px;
    padding: 25px;
    align-items: flex-end;
    /* border: 1px solid red; */
}

.filler1__line {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 120%;
    opacity: 50%;
}

.imgal {
    background-image: linear-gradient(180deg, hsla(208, 97%, 13%, 0.2) 24%, hsla(0, 0%, 100%, 1) 100%);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.imgal__head {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.imgal__head--title {
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
    opacity: 80%;
}

.column {
    /* border: 1px solid red; */
    width: 80%;
    /* height: 50%; */
    align-items: flex-start;
    justify-content: center;
    padding: 0 9.5%;
    padding-top: 0px;
    /* margin: 10px; */
    display: grid;
    grid-template-areas:
        'img3 img3 img1'
        'img2 img4 img6'
        'img5 img5 img7';
    grid-gap: 0.5rem;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
    height: 100%;
    display: flex;
    align-items: center;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
    height: 100%;
    display: flex;
    align-items: center;
}

.img5 {
    grid-area: img5;
}

.img6 {
    grid-area: img6;
}

.img7 {
    grid-area: img7;
}


.imgal__img {
    max-width: 100%;
    /* padding: 15px; */
    /* margin: 15px; */
    border-radius: 20px;
    transition: 0.5s;
}

.imgal__img:hover {
    box-shadow: 10px 10px 30px black;
}

.imgal__morework {
    display: flex;
    justify-content: center;
    padding: 5% 0;
}

.imgal__morework--button {
    border: 2px solid #012443;
    padding: 1.5%;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: #012443;
    transition: 0.3s;
}

.imgal__morework--button:hover {
    background-color: #012443;
    color: white;
}

.filler2 {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    margin: 50px 0;
    height: 80px;
    padding: 25px;
    align-items: flex-end;
    /* border: 1px solid red; */
}

.filler2__line {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 120%;
    opacity: 50%;
}

.design {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.design__skills {
    display: grid;
    width: 80%;
    text-align: center;
    justify-content: space-evenly;
    grid-gap: 2rem;
    grid-template-areas:
        'advertisements smcontent illustrations vectorarts'
        'card magazines coverpages posters'
        'logo flyers banners wallpapers';
}

.design__logo {
    grid-area: logo;
}

.design__flyers {
    grid-area: flyers;
}

.design__banners {
    grid-area: banners;
}

.design__wallpapers {
    grid-area: wallpapers;
}

.design__magazines {
    grid-area: magazines;
}

.design__coverpages {
    grid-area: coverpages;
}

.design__posters {
    grid-area: posters;
}

.design__vectorarts {
    grid-area: vectorarts;
}

.design__advertisements {
    grid-area: advertisements;
}

.design__smcontent {
    grid-area: smcontent;
}

.design__illustrations {
    grid-area: illustrations;
}

.design__busicard {
    grid-area: card;
}


.design__can {
    font-family: 'montserrat', sans-serif;
    font-weight: 900;
    font-size: 400%;
    color: #012443;
}

.design__skills {
    font-family: 'montserrat', sans-serif;
    font-weight: 300;
    font-size: 150%;
    /* transition: 0.3s; */
}

.design__skills {
    /* background-color: red; */
    /* padding: 20px; */
}